.wholeScreen{
  height: 100vh;
  width: 100vw;
}

.welcomeScreen{
  background-image: url('././../Assets/hero.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.welcomeContent{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.welcomeText{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
}

.welcomeTo{
  color: white;
  font-size: 5em;
}
.roosterGrin{
  color: white;
  font-size: 3.5em;
  margin-top: -0.8em;
}

.roosterLogoBox{
  border: 1px solid green;
  
}

.roosterLogo{
  display: flex;
  color: white;
  font-size: 2.5em;
  margin-left: 3.5em;
  
}

.welcomeButtonBox{
  
}

.welcomeButton{
  background-color: orange;
  color: white;
  font-size: 1.5em;
  padding: 0.5em;
  border: none;
}
.welcomeButton:hover{
  cursor: pointer;
}

.sectionOne {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
}

.rightSection {
  background-image: url(../Assets/img-1.jpg);
  background-size: cover;
  background-position: center;

}

.leftSection{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.leftContent{
  width: 30em;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5em;
}

.leftSectionButton{
  background-color: purple;
  color: white;
  border: none;
  padding: 0.5em;
  width: 8em;
}

.leftSectionButton:hover{
  cursor: pointer;
}

.leftSectionHeader{
  margin-bottom: -0.1em;
  color: purple;
}

/* section 2 */

.sectionTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'image image';
  height: 80vh;
  background-image: url(../Assets/banner-1.jpg);
  background-size: cover;
  background-position: center;
}

.leftSectionTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.leftSectionHeaderTwo {
  color: purple;
  font-size: 3em;
}

.leftSectionButtonTwo{
  background-color: orange;
  color: white;
  border: none;
  padding: 1.3em;
}

.leftSectionButtonTwo{
  cursor: pointer;
}

/* section3 */

.sectionThree {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
}

.leftSectionThree{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.leftContentThree{
  width: 30em;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5em;
}

.leftSectionButtonThree{
  background-color: purple;
  color: white;
  border: none;
  padding: 0.5em;
  width: 8em;
}

.leftSectionButtonThree:hover{
  cursor: pointer;
}

.leftSectionHeaderThree{
  margin-bottom: -0.1em;
  color: purple;
}

.rightSectionThree {
  background-color: rgb(245, 245, 244);
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
          'item1 item2'
          'item3 item4';
  
  
  }

  .item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item1;
    
  }
  .svg1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    padding: 1em;
    border-radius: 50%;
    background: url(../Assets/home-expertise.svg) no-repeat center center;
    background-size: 4em;
    border: 1px solid purple;
  }
  .item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item2;

  }
  .svg2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    padding: 1em;
    border-radius: 50%;
    background: url(../Assets/home-hygiene.svg) no-repeat center center;
    background-size: 4em;
    border: 1px solid purple;
  }
  .item3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item3;
    
  }
  .svg3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    padding: 1em;
    border-radius: 50%;
    background: url(../Assets/home-lab.svg) no-repeat center center;
    background-size: 4em;
    border: 1px solid purple;
  }
  .item4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item4;
  
  }
  .svg4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    padding: 1em;
    border-radius: 50%;
    background: url(../Assets/home-retention.svg) no-repeat center center;
    background-size: 4em;
    border: 1px solid purple;
  }

  .text1, .text2, .text3, .text4 {
    color: black;
    font-weight: bold;
    padding: 0.3em;
    margin-top: 0.3em;
  }

  /* section 4 */

  .sectionFour{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'image image';
  height: 80vh;
  background-image: url(../Assets/banner-2.jpg);
  background-size: cover;
  background-position: center;
  }

  .rightSectionFour {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightContentFour{
    border: 1px solid purple;
    width: 30em;
  }
  
  
  .rightSectionHeaderFour {
    color: purple;
    font-size: 3em;
  }

  .rightSectionBodyFour{
    width: 21em;
  }
  
  .rightSectionButtonFour{
    background-color: orange;
    color: white;
    border: none;
    padding: 1.2em;
    width: 15em;
  }

  .rightSectionButtonFour:hover{
    cursor: pointer;
  }

/* Section 5 */

.sectionFive {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
}

.leftSectionFive{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.leftContentFive{
  width: 30em;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5em;
}

.leftSectionHeaderFive{
  margin-bottom: -0.1em;
}

.rightSectionFive{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.carousel{
  width: 35em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.carouselContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.carouselAuthor{
  color: purple;
  margin-bottom: 0.1em;
  
}

.carouselParagraph{
  width: 25em;
  display: inline-block;
  
}

.carouselButtons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}